<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpn2tegal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN2TEGAL">
        <activity
            android:name=".futsal"
            android:exported="false" />
        <activity
            android:name=".keagamaan"
            android:exported="false" />
        <activity
            android:name=".kegiatansosial"
            android:exported="false" />
        <activity
            android:name=".prestasi"
            android:exported="false" />
        <activity
            android:name=".literasi"
            android:exported="false" />
        <activity
            android:name=".adiwiyata"
            android:exported="false" />
        <activity
            android:name=".PerpusActivity"
            android:exported="false" />
        <activity
            android:name=".lapkomActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".pmrActivity"
            android:exported="false" />
        <activity
            android:name=".pramukaActivity"
            android:exported="false" />
        <activity
            android:name=".buku9Activity"
            android:exported="false" />
        <activity
            android:name=".buku8Activity"
            android:exported="false" />
        <activity
            android:name=".buku7Activity"
            android:exported="false" />
        <activity
            android:name=".galeriActivity"
            android:exported="false" />
        <activity
            android:name=".fasilitasActivity"
            android:exported="false" />
        <activity
            android:name=".ekskulActivity"
            android:exported="false" />
        <activity
            android:name=".profileActivity"
            android:exported="false" />
        <activity
            android:name=".GuruActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>