<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profil.smpn2tegal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN2TEGAL">
        <activity
            android:name="com.profil.smpn2tegal.qurbanActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.basketActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.pbbActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.prestasiActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.AdiwiyataActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.literasiActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.futsalActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.karateActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.SeniTariActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.sosialActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.karnavalActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.PerpusActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.lapkomActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.profil.smpn2tegal.pmrActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.pramukaActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.buku9Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.buku8Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.buku7Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.galeriActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.fasilitasActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.ekskulActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.profileActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.GuruActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn2tegal.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>